@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Heading {
	font-family: "Lobster", cursive;
	font-size: 52px;
    padding-right: 10px;
	
}

.imageTag {
    border: 2px solid black;
    margin: 1px;
}