@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Heading {
	font-family: "Lobster", cursive;
	font-size: 75px;
}

.imageTag {
	border: 3px solid rgb(60, 248, 3);
	margin: 2px;
}

